.map-container {
    position: relative;
    width: 100%;
    max-width: 1000px; /* Establecer un ancho máximo */
    height: 400px; /* Altura fija */
    margin: 0 auto; /* Centra el mapa */
  }
  
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
  }